body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Noto Sans Mono', monospace;
    background-image: url('https://source.unsplash.com/1600x900/?nature,landscape');
    background-repeat: no-repeat;
    background-size: cover;
}

#search {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
}

.recent {
    background-color: #000000d0;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.recent-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000000d0;
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin:10px;
    font-size: 20px;
}

.recent-search:hover {
    background: #7c7c7c2b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 5px solid #9999998b;   
}

.card {
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
    color: white;
}

.button {
   border: none;
   border-radius: 50%;
   width: 3.5em;
   height: 3.5em;
   background: #7c7c7c2b;
   color: white;
}

.button:hover {
    background: #7c7c7c6b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input{
    border: none;
    outline: none;
    padding: .8em 1.2em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    margin-right: 1em;
    width: calc(100% -100px);
}

.five-day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* flex-grow: 3; */
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    height: auto;
    max-width: 55%;
    margin: 1em;
    color: white;
}

.days {
    width: 200px;
    height: auto;
    background-color: #7c7c7c2b;
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 1em;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    font-size: 20px;
    color: "white";
    position: absolute;
    top: 0;
    left: 20px;
}

